* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgba(250, 250, 250, 0.879);
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

body {
    /* background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center fixed; */
    background: url(./img/background.jpg) no-repeat center center fixed;
    background-size: cover;
}


header {
    display: flex;
    justify-content: space-between;
}

header ul {
    flex-direction:column;
    padding-top: 15px;
    padding-right: 15px;
}

.container {
    text-align: center;
    line-height: 1.2;
}

.container .name h1 {
    font-size: 75px;
}
.container .name h5 {
    font-size: 35px;
}

 #arrow {
    width: 10%;

}

#about p {
    padding: 10px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
}

.form {
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
}

.form input {
    width: 60%;
}

.form button {
    width: 20%;
    color:black;
}
.flex {
    display: flex;
    justify-content: center;
    padding: 10px;
 
}

.flex div {
    margin: 2px;
    flex-basis: 5%;
}
